<!DOCTYPE html>
<html lang="en">

    <head>
        <title>9room::Admin</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" type="text/css" href="../public/css/admin.css"> -->
    </head>
    <body>
        <img class="logo_groomit" src="../public/images/groomit_logo.png" alt="Groomit logo" onclick="window.location.href='/login'">
        <h2>관리자 회원 관리</h2>
        <table id='user_table'></table>

        <footer>
            <div class="copyright">&copy 2015 - Technonia</div>
            <a href="http://technonia.cafe24.com/" class="about">About Us</a>
        </footer>
        <script>
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/admin/getUsers'); // 메소드와 주소 설정
            xhr.onreadystatechange = function() { // 요청에 대한 콜백
                if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                    if (xhr.status === 200 || xhr.status === 201) {
                        var users = JSON.parse(xhr.responseText);
                        
                        create_table(users)
                    } else {
                        console.error(xhr.responseText);
                    }
                }
            };
            xhr.send();
            
            function create_table(users){
                var user_table = document.getElementById('user_table');
                for (i in users){
                    var email = users[i].email;
                    addRow(user_table, Number(i)+1, email);
                }
            }

            function addCell(tr, val) {
                var td = document.createElement('td');

                td.innerHTML = val;
                tr.appendChild(td)
            }


            function addRow(user_table, num, email) {
                var tr = document.createElement('tr');

                addCell(tr, num);
                addCell(tr, email);

                user_table.appendChild(tr)
            }
        </script>
    </body>
</html>