<!DOCTYPE html>
<html lang="en">

    <head>
        <title>9room::Admin</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/css/admin.css">
    </head>
    <body>
        <div class="info">
            <img class="logo_groomit" src="../public/images/groomit_logo.png" alt="Groomit logo" onclick="window.location.href='/login'">&nbsp
            관리자 회원 관리
        </div>
        <!-- <button type="button" onclick="addDevice()">Add Device</button>
        <button type="button">Delete Device</button> -->
        <table id='user_table'></table>

        <footer>
            <div class="copyright">&copy 2015 - Technonia</div>
            <a href="http://technonia.cafe24.com/" class="about">About Us</a>
        </footer>
        <script>
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/admin/getUsers'); // 메소드와 주소 설정
            xhr.onreadystatechange = function() { // 요청에 대한 콜백
                if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                    if (xhr.status === 200 || xhr.status === 201) {
                        var users = JSON.parse(xhr.responseText);
                        
                        create_table(users)
                    } else {
                        console.error(xhr.responseText);
                    }
                }
            };
            xhr.send();
            
            function create_table(users){
                var user_table = document.getElementById('user_table');
                addRow(user_table, true, "번호", "이메일", "관리권한", "상태");

                for (i in users){
                    var email = users[i].email;
                    addRow(user_table, false, Number(i)+1, email, " ", "사용");
                }
            }

            function addCell(tr, head, val) {
                var cell = document.createElement('td');
                if (head){
                    cell = document.createElement('th');
                }

                cell.innerHTML = val;
                tr.appendChild(cell)
            }


            function addRow(user_table, head, num, email, permission, condition) {
                var tr = document.createElement('tr');
                tr.addEventListener("click", getUserDevicesInfo);

                addCell(tr, head, num);
                addCell(tr, head, email);
                addCell(tr, head, permission);
                addCell(tr, head, condition);

                user_table.appendChild(tr)
            }

            //TODO: 새 페이지 불러오기(주어진 이메일의 기기들)
            function getUserDevicesInfo(){
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/admin/getUserDevices'); // 메소드와 주소 설정
                xhr.onreadystatechange = function() { // 요청에 대한 콜백
                    if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                        if (xhr.status === 200 || xhr.status === 201) {
                            var users = JSON.parse(xhr.responseText);
                            
                            create_table(users)
                        } else {
                            console.error(xhr.responseText);
                        }
                    }
                };
                xhr.send();
            }
        </script>
    </body>
</html>