<!DOCTYPE html>

<html lang="en">

<head>
    <title>9room::LogIn</title>
    <meta charset="utf-8">

    <!-- Javascript SDKs-->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../public/js/amazon-cognito-auth.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script>
    <script src="../public/js/amazon-cognito-identity.min.js"></script>
    <script src="../public/js/config.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/css/login.css">

</head>

<body class="body">
    <img class="logo_groomit" src="../public/images/groomit_logo.png" alt="Groomit logo" onclick="window.location.href='/login'">
    <div class="login-page">
        <form class="form">
            <div class="login">Login</div>
            <input type="text" id="inputUsername" placeholder="Email" required autofocus>
            <input type="password" id="inputPassword" placeholder="Password" required>
            <button type="button" onclick="logInButton()">Login</button>
            <button type="button" onclick="window.location.href='/register';">Sign up</button>
            <button type="button" onclick="resetPw()">Reset password</button>
        </form>
    </div>

    <footer>
        <div class="copyright">&copy 2015 - Technonia</div>
        <a href="http://technonia.cafe24.com/" class="about">About Us</a>
    </footer>

    <script>
        function logInButton() {

            var username = document.getElementById("inputUsername").value;
            var password = document.getElementById("inputPassword").value;

            var authenticationData = {
                Username: username,
                Password: password,
            };

            var authenticationDetails = new AmazonCognitoIdentity.AuthenticationDetails(authenticationData);

            var poolData = {
                UserPoolId: _config.cognito.userPoolId,
                ClientId: _config.cognito.clientId,
            };

            var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);

            var userData = {
                Username: username,
                Pool: userPool,
            };

            var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);

            cognitoUser.authenticateUser(authenticationDetails, {
                onSuccess: function(result) {
                    var accessToken = result.getAccessToken().getJwtToken();
                    console.log(accessToken);
                    //send http request to server to use cookie
                    sendRequestForLogin(username);
                },
                onFailure: function(err) {
                    console.log(err);
                    alert(err.message || JSON.stringify(err));
                },
            });
        }

        function sendRequestForLogin(username) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === xhr.DONE) {
                    if (xhr.status === 200 || xhr.status === 201) {
                        console.log(xhr.responseText);
                        window.location.href = '/main';
                    } else {
                        console.error(xhr.responseText);
                    }
                }
            };
            var str = '/login?username=' + username;
            xhr.open('POST', str);
            xhr.send();
        }

        function resetPw() {
            var userName = prompt('Enter your email', '');
            var poolData = {
                UserPoolId: _config.cognito.userPoolId, // Your user pool id here
                ClientId: _config.cognito.clientId, // Your client id here
            };

            var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);

            var userData = {
                Username: userName,
                Pool: userPool,
            };

            var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);

            cognitoUser.forgotPassword({
                onSuccess: function(result) {
                    console.log('call result: ' + result);
                },
                onFailure: function(err) {
                    alert(err);
                    console.log(err);
                },
                inputVerificationCode() {
                    var verificationCode = prompt('Please input verification code ', '');
                    var newPassword = prompt('Enter new password ', '');
                    cognitoUser.confirmPassword(verificationCode, newPassword, this);
                }
            });
        }
    </script>
</body>

</html>