<!DOCTYPE html>
<html>

<head>
    <title>9room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/7a7224d655.js"></script>
    <script src="../public/js/amazon-cognito-identity.min.js"></script>
    <script src="../public/js/cookieProcess.js"></script>
    <script src="../public/js/config.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
</head>

<body>
    <div class="info">
        <img class="logo_groomit" src="../public/images/groomit_logo.png" alt="Groomit logo" onclick="window.location.href='/login'">
        무선 방사능 및 온습도 측정시스템
        <input type="image" class="member_info" src='../public/images/logout_0.png' style="width: 90px;" onclick="logOut()"/>
        <input type="image" class="member_info" src='../public/images/profile_0.png' style="width: 90px;" onclick="window.location.href='/profile';"/>
    </div>


    <!-- select device -->
    <div class="data_info">
        <select id="devices" onchange="changeGraph(this.value)"></select>

        <div id="reportrange" style="cursor: pointer; margin-left: 20px; padding: 5px 10px; border: 1px solid #ccc; width: 420px; display:inline-block;">
            <i class="fas fa-calendar"></i>&nbsp;
            <span></span> <i class="fas fa-caret-down"></i>
        </div>

        <input type="image" class="download" src="../public/images/download_0.png" alt="Submit" style="width: 90px;" onclick="json2csv()"/>
    </div>

    <!-- buttons for logout or see profile -->
    <div class="container">
        <div id="graph">
            <canvas id="canvasG"></canvas>
        </div>
        <div id="g_val">
            시작 : <sDate id='g_sdate'></sDate>
        </br>
            종료 : <eDate id='g_edate'></eDate>
        </br>
            현재 방사능 값: <currentVal id='g_currentVal'></currentVal>
        </br>
            방사능 최고값: <highestVal id='g_highestVal'></highestVal>
        </br>
            방사능 최저값: <lowestVal id='g_lowestVal'></lowestVal>
        </div>
    </br>
        <div id="graph">
            <canvas id="canvasT"></canvas>
        </div>
    </br>
        <div id="graph">
            <canvas id="canvasH"></canvas>
        </div>
        <div id="th_val">
            시작 : <sDate id='th_sdate'></sDate>
        </br>
            종료 : <eDate id='th_edate'></eDate>
        </br>
            현재 온도: <currentVal id='t_currentVal'></currentVal>
            현재 습도: <currentVal id='h_currentVal'></currentVal>
        </br>
            최고 온도: <highestVal id='t_highestVal'></highestVal>
            최고 습도: <highestVal id='h_highestVal'></highestVal>
        </br>
            최저 온도: <lowestVal id='t_lowestVal'></lowestVal>
            최저 습도: <lowestVal id='h_lowestVal'></lowestVal>
        </div>
    </br>
    </div>

    <footer>
        <div class="copyright">&copy 2015 - Technonia</div>
        <a href="http://technonia.cafe24.com/" class="about">About Us</a>
    </footer>
    
    <script>
            var uuid, email, datas;
            var c_val = 'gth';
            var gChart, tChart, hChart;
            var start, end;

            var data = {
                UserPoolId: _config.cognito.userPoolId,
                ClientId: _config.cognito.clientId
            };
            var userPool = new AmazonCognitoIdentity.CognitoUserPool(data);
            var cognitoUser = userPool.getCurrentUser();

            if (cognitoUser != null) {
                cognitoUser.getSession(function(err, session) {
                    if (err) {
                        alert(err);
                        return;
                    }
                    console.log('session validity: ' + session.isValid());
                    //Set the profile info
                    cognitoUser.getUserAttributes(function(err, result) {
                        if (err) {
                            console.log(err);
                            return;
                        }
                        email = result[3].getValue();
                        getGraph();
                    });
                });
            }


            // date time picker
            $(function() {
                start = moment().subtract(24, 'hours');
                end = moment();

                function cb(start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    start = start.format('YYYY-MM-DD HH:mm:ss');
                    end = end.format('YYYY-MM-DD HH:mm:ss');

                    setTimeout(function repeatTimeout() {
                        if(uuid !== undefined){
                            getGraphData(start, end);
                        } else {
                            setTimeout(repeatTimeout, 1000);
                        }
                    }, 1000);
                }

                $('#reportrange').daterangepicker({
                    minDate: null,
                    maxDate: moment(),
                    startDate: start,
                    endDate: end,
                    ranges: {
                    'Last 24 hours': [moment().subtract(24, 'hours'), moment()],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()]
                    }
                }, cb);

                cb(start, end);
            });

            function logOut() {
                if (cognitoUser != null) {
                    cognitoUser.signOut();
                    deleteCookie('username');
                    window.location.href = '/login';
                }
            }

            function getGraph() {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/main/mainUuid?email=' + email); // 메소드와 주소 설정
                xhr.onreadystatechange = function() { // 요청에 대한 콜백
                    if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                        if (xhr.status === 200 || xhr.status === 201) {
                            // 메인 uuid설정란 db에 만들기?
                            var uuids = JSON.parse(xhr.responseText);
                            console.log(uuids.length)
                            if (uuids.length == 0) {
                                uuid = null;
                            } else {
                                uuid = uuids[0].deviceNum;
                                addSelection(uuids);
                            }
                        } else {
                            console.error(xhr.responseText);
                        }
                    }
                };
                xhr.send();
            }

            function getGraphData(start, end) {
                let tempURL = '/main/graphInfo?u=' + uuid + '&type=' + c_val + '&start=' + start +'&end=' + end;
                var xhr = new XMLHttpRequest();
                xhr.open('GET', tempURL); // 메소드와 주소 설정
                xhr.onreadystatechange = function() { // 요청에 대한 콜백
                    if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                        if (xhr.status === 200 || xhr.status === 201) {
                            datas = JSON.parse(xhr.responseText);
                            console.log(datas);
                            getDateLimit(start, end);
                            sortdata();
                        } else {
                            console.error(xhr.responseText);
                        }
                    }
                };
                xhr.send();
            }

            function sortdata() {
                var labels = [];
                var g_data = [];
                var t_data = [];
                var h_data = [];

                var highest_g;
                var highest_t;
                var highest_h;

                var lowest_g;
                var lowest_t;
                var lowest_h;

                for (key in datas) {
                    type = datas[key].type;
                    CDate = new Date(datas[key].time);
                    value = datas[key].val;

                    console.log(value);
                    if (type == 'g') {
                        g_data.push({
                            x: CDate,
                            y: value
                        })

                        if (highest_g == undefined){
                            highest_g = value;
                        }
                        if (lowest_g == undefined){
                            lowest_g = value;
                        } else if (value > highest_g){
                            highest_g = value;
                        } else if (value < lowest_g){
                            lowest_g = value;
                        }
                    }
                    if (type == 't') {
                        t_data.push({
                            x: CDate,
                            y: value
                        })

                        if (highest_t == undefined){
                            highest_t = value;
                        } 
                        if (lowest_t == undefined){
                            lowest_t = value;
                        } else if (value > highest_t){
                            highest_t = value;
                        } else if (value < lowest_t){
                            lowest_t = value;
                        }
                    }
                    if (type == 'h') {
                        h_data.push({
                            x: CDate,
                            y: value
                        })

                        if (highest_h == undefined){
                            highest_h = value;
                        } 
                        if (lowest_h == undefined){
                            lowest_h = value;
                        } else if (value > highest_h){
                            highest_h = value;
                        } else if (value < lowest_h){
                            lowest_h = value;
                        }
                    }

                    if (!labels.includes(new Date(datas[key].time))) {
                        labels.push(CDate)
                    }
                }
                document.getElementById("g_highestVal").innerHTML = highest_g;
                document.getElementById("g_lowestVal").innerHTML = lowest_g;
                if(g_data.length != 0){
                    document.getElementById("g_currentVal").innerHTML = g_data[g_data.length - 1].y;
                } else {
                    document.getElementById("g_currentVal").innerHTML = undefined;
                }

                document.getElementById("t_highestVal").innerHTML = highest_t + "°C";
                document.getElementById("t_lowestVal").innerHTML = lowest_t + "°C";
                if(t_data.length != 0){
                    document.getElementById("t_currentVal").innerHTML = t_data[t_data.length - 1].y + "°C";
                } else {
                    document.getElementById("t_currentVal").innerHTML = undefined;
                }

                document.getElementById("h_highestVal").innerHTML = highest_h + "%";
                document.getElementById("h_lowestVal").innerHTML = lowest_h + "%";
                if (h_data.length != 0){
                    document.getElementById("h_currentVal").innerHTML = h_data[h_data.length - 1].y + "%";
                } else {
                    document.getElementById("h_currentVal").innerHTML = undefined;
                }

                drawGraph(c_val, labels, g_data, t_data, h_data);
            }

            function drawGraph(c_val, labels, g_data, t_data, h_data) {
                const DATASET_G = {
                    label: 'geiger count',
                    data: g_data,
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    type: 'line',
                    pointRadius: 0,
                    fill: false,
                    lineTension: 0,
                    borderWidth: 1,
                }

                const DATASET_T = {
                    label: 'temperature',
                    data: t_data,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    type: 'line',
                    pointRadius: 0,
                    fill: false,
                    lineTension: 0,
                    borderWidth: 1,
                }

                const DATASET_H = {
                    label: 'humidity',
                    data: h_data,
                    backgroundColor: window.chartColors.orange,
                    borderColor: window.chartColors.orange,
                    type: 'line',
                    pointRadius: 0,
                    fill: false,
                    lineTension: 0,
                    borderWidth: 1,
                }

                let dataset_arr_g = [];
                let dataset_arr_t = [];
                let dataset_arr_h = [];

                if (c_val.includes("g")) {
                    dataset_arr_g.push(DATASET_G);
                    getGgraph(labels, dataset_arr_g);
                }
                if (c_val.includes("t")) {
                    dataset_arr_t.push(DATASET_T);
                    getTgraph(labels, dataset_arr_t);
                }
                if (c_val.includes("h")) {
                    dataset_arr_h.push(DATASET_H);
                    getHgraph(labels, dataset_arr_h)
                }        
            }

            //TODO: graph 오류 고치기
            function getGgraph(labels, dataset_arr_g) {
                var config_g = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: dataset_arr_g
                    },
                    options: {
                        legend:{
                            display:false
                        },
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Geiger',
                            fontSize: 20
                        },
                        scales: {
                            xAxes: [{
                                type: "time",
                                time: {
                                    parser: "MM/DD/YYYY HH:mm",
                                    tooltipFormat: "ll HH:mm"
                                },
                                ticks: {
                                    maxRotation: 0
                                },
                                distribution: 'series',
                                display: true,
                            }],
                            yAxes: [{
                                type: 'linear',
                                display: true,
                            }]
                        }
                    }
                };

                if (gChart){
                    gChart.destroy();
                }
                var ctx_g = document.getElementById('canvasG').getContext('2d');
                gChart = new Chart(ctx_g, config_g);
                gChart.update();
            }

            function getTgraph(labels, dataset_arr_t) {
                var config_t = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: dataset_arr_t
                    },
                    options: {
                        legend:{
                            display:false
                        },
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Temperature',
                            fontSize: 20
                        },
                        scales: {
                            xAxes: [{
                                type: "time",
                                time: {
                                    parser: "MM/DD/YYYY HH:mm",
                                    tooltipFormat: "ll HH:mm"
                                },
                                ticks: {
                                    maxRotation: 0
                                },
                                distribution: 'series',
                                display: true,
                            }],
                            yAxes: [{
                                type: 'linear',
                                display: true,
                            }]
                        }
                    }
                };

                if (tChart){
                    tChart.destroy();
                }
                var ctx_t = document.getElementById('canvasT').getContext('2d');
                tChart = new Chart(ctx_t, config_t);
                tChart.update();
            }

            function getHgraph(labels, dataset_arr_h) {
                var config_h = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: dataset_arr_h
                    },
                    options: {
                        legend:{
                            display:false
                        },
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Humidity',
                            fontSize: 20
                        },
                        scales: {
                            xAxes: [{
                                type: "time",
                                time: {
                                    parser: "MM/DD/YYYY HH:mm",
                                    tooltipFormat: "ll HH:mm"
                                },
                                ticks: {
                                    maxRotation: 0
                                },
                                distribution: 'series',
                                display: true,
                            }],
                            yAxes: [{
                                type: 'linear',
                                display: true,
                            }]
                        }
                    }
                };

                if (hChart){
                    hChart.destroy();
                }
                var ctx_h = document.getElementById('canvasH').getContext('2d');
                hChart = new Chart(ctx_h, config_h);
                hChart.update();
            }

            function addSelection(uuids) {
                var selection = document.getElementById("devices");

                for (i in uuids) {
                    var option = document.createElement("option");

                    option.text = uuids[i].deviceNum;
                    option.value = uuids[i].deviceNum;
                    selection.add(option)
                    console.log(uuids[i])
                }
            }

            function changeGraph(device) {
                uuid = device;
                start = start.format('YYYY-MM-DD HH:mm:ss');
                end = end.format('YYYY-MM-DD HH:mm:ss');
                getGraphData(start, end);
            }

            function json2csv() {
                var array = typeof datas != 'object' ? JSON.parse(datas) : datas;
                var str = '';
                var line = '';

                var head = array[0];

                for (var index in array[0]) {
                    var value = index + "";
                    line += '"' + value.replace(/"/g, '""') + '",';
                }

                line = line.slice(0, -1);
                str += line + '\r\n';

                for (var i = 0; i < array.length; i++) {
                    var line = '';

                    for (var index in array[i]) {
                        var value = array[i][index];

                        if (value == (array[i].time)){
                            value = new Date(value) + "";
                        }else{
                            value = value + "";
                        }
                        line += '"' + value.replace(/"/g, '""') + '",';
                    }

                    line = line.slice(0, -1);
                    str += line + '\r\n';
                }

                var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(str);
                hiddenElement.target = '_blank';
                hiddenElement.download = uuid + '.csv';
                hiddenElement.click();
                // window.open("data:text/csv;charset=utf-8," + escape(str));
            }

            function getDateLimit(start, end){
                let tempURL = '/main/dateLimit?u=' + uuid + '&start=' + start +'&end=' + end;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', tempURL); // 메소드와 주소 설정
                xhr.onreadystatechange = function() { // 요청에 대한 콜백
                    if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                        if (xhr.status === 200 || xhr.status === 201) {
                            var dates = JSON.parse(xhr.responseText);

                            console.log(dates);

                            var sDate = dates[0].mintime;
                            var eDate = dates[0].maxtime;

                            //기간 내의 자료가 없는 경우
                            if(sDate == null && eDate == null){
                                sDate = start;
                                eDate = end;   
                            }

                            sDate = changeFormat(sDate);
                            eDate = changeFormat(eDate);

                            document.getElementById("g_sdate").innerHTML = sDate;
                            document.getElementById("th_sdate").innerHTML = sDate;
                            document.getElementById("g_edate").innerHTML = eDate;
                            document.getElementById("th_edate").innerHTML = eDate;

                        } else {
                            console.error(xhr.responseText);
                        }
                    }
                };
                xhr.send();
            }

            //TODO: 가이거과 온습도 시간의 차이에 따라 따로 해야함.
            function changeFormat(date){
                var newFormat;
                var newDate = new Date(date);

                if(newDate.toString() == "Invalid Date"){
                    var newFormat = undefined;
                }else{
                    // var seconds = date.getSeconds();
                    var minute = newDate.getMinutes();
                    var hour = newDate.getHours();
                    var day = newDate.getDate();
                    var month = newDate.getMonth() + 1;
                    var year = newDate.getFullYear();

                    minute = (minute < 10 ? '0' : '') + minute.toString();
                    hour = (hour < 10 ? '0' : '') + hour.toString();
                    day = (day < 10 ? '0' : '') + day.toString();
                    month = (month < 10 ? '0' : '') + month.toString();

                    newFormat = year + "년 " + month + "월 " + day + "일 " + hour + ":" + minute;
                }
                
                return newFormat;
            }
        </script>
</body>
</html>