<!DOCTYPE html>
<html>

<head>
    <title>9room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- <script src="multiple-select.min.js"></script> -->
    <!-- <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script> -->
    <script src="https://kit.fontawesome.com/7a7224d655.js"></script>
    
    <script src="../public/js/amazon-cognito-identity.min.js"></script>
    <script src="../public/js/cookieProcess.js"></script>
    <script src="../public/js/config.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="multiple-select.min.css"> -->
    <!-- <link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">


    
<!-- <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script> -->


</head>

<body>
    <div class="info">
        <img class="logo_groomit" src="../public/images/groomit_logo.png" alt="Groomit logo" onclick="window.location.href='/login'">
        무선 방사능 및 온습도 측정시스템
        <input type="image" class="member_info" src='../public/images/logout.png' onclick="logOut()"/>
        <input type="image" class="member_info" src='../public/images/user.png' onclick="window.location.href='/profile';"/>
    </div>


    <!-- select device -->
    <div class="data_info">
        <select id="devices" multiple="multiple" onchange="changeGraph(this.value)"></select>
        <input type="checkbox" id="geiger" value="geiger" onchange="hideGraph('g')" checked>Geiger
        <input type="checkbox" id="temperature" value="temperature" onchange="hideGraph('t')" checked>Temperature
        <input type="checkbox" id="humidity" value="humidity" onchange="hideGraph('h')" checked>Humedity

        <div id="reportrange">
            <i class="fas fa-calendar"></i>&nbsp;
            <span></span> <i class="fas fa-caret-down"></i>
        </div>

        <input type="image" class="download" src="../public/images/download.png" alt="Submit" onclick="json2csv()"/>
    </div>

    <!-- buttons for logout or see profile -->
    <div class="container">
        <div id="graph">
            <canvas id="canvasG"></canvas>
        </div>
        <div id="g_val">
            시작 : <sDate id='g_sdate'></sDate>
        </br>
            종료 : <eDate id='g_edate'></eDate>
        </br>
            현재 방사능 값: <currentVal id='g_currentVal'></currentVal>
        </br>
            방사능 최고값: <highestVal id='g_highestVal'></highestVal>
        </br>
            방사능 최저값: <lowestVal id='g_lowestVal'></lowestVal>
        </br>
        </div>
        <div id="graph">
            <canvas id="canvasC"></canvas>
        </div>
        <div id="c_val">
            시작 : <sDate id='c_sdate'></sDate>
        </br>
            종료 : <eDate id='c_edate'></eDate>
        </br>
            현재 이산화탄소 값: <currentVal id='c_currentVal'></currentVal>
        </br>
            이산화탄소 최고값: <highestVal id='c_highestVal'></highestVal>
        </br>
            이산화탄소 최저값: <lowestVal id='c_lowestVal'></lowestVal>
        </br>
        </div>
        <div id="graph">
            <canvas id="canvasT"></canvas>
        </div>
    </br>
        <div id="graph">
            <canvas id="canvasH"></canvas>
        </div>
        <div id="th_val">
            시작 : <sDate id='th_sdate'></sDate>
        </br>
            종료 : <eDate id='th_edate'></eDate>
        </br>
            현재 온도: <currentVal id='t_currentVal'></currentVal>
            현재 습도: <currentVal id='h_currentVal'></currentVal>
        </br>
            최고 온도: <highestVal id='t_highestVal'></highestVal>
            최고 습도: <highestVal id='h_highestVal'></highestVal>
        </br>
            최저 온도: <lowestVal id='t_lowestVal'></lowestVal>
            최저 습도: <lowestVal id='h_lowestVal'></lowestVal>
        </div>
    </br>
    </div>

    <footer>
        <div class="copyright">&copy 2015 - Technonia</div>
        <a href="http://technonia.cafe24.com/" class="about">About Us</a>
    </footer>
    
    <script>
            var uuid, email, datas;
            var type_val = 'gth';
            var gChart, cChart, tChart, hChart;
            var start, end;

            var data = {
                UserPoolId: _config.cognito.userPoolId,
                ClientId: _config.cognito.clientId
            };
            var userPool = new AmazonCognitoIdentity.CognitoUserPool(data);
            var cognitoUser = userPool.getCurrentUser();

            if (cognitoUser != null) {
                cognitoUser.getSession(function(err, session) {
                    if (err) {
                        alert(err);
                        return;
                    }
                    console.log('session validity: ' + session.isValid());
                    //Set the profile info
                    cognitoUser.getUserAttributes(function(err, result) {
                        if (err) {
                            console.log(err);
                            return;
                        }
                        email = result[3].getValue();
                        getGraph();
                    });
                });
            }

            // $('select').multipleSelect()

            // date time picker
            $(function() {
                start = moment().subtract(24, 'hours');
                end = moment();
                console.log("one");

                function cb(start_d, end_d) {
                    $('#reportrange span').html(start_d.format('MMMM D, YYYY') + ' - ' + end_d.format('MMMM D, YYYY'));
                    start = start_d;
                    end = end_d;
                    
                    setTimeout(function repeatTimeout() {
                        if(uuid !== undefined){
                            getGraphData(start, end);
                        } else {
                            setTimeout(repeatTimeout, 1000);
                        }
                    }, 1000);
                }

                $('#reportrange').daterangepicker({
                    //TODO: 날짜 제한 필요
                    // minDate: null,
                    maxDate: moment(),
                    startDate: start,
                    endDate: end,
                    //TODO: 영어버전 한글버전 따로(설정에 따라)
                    ranges: {
                    'Last 24 hours': [moment().subtract(24, 'hours'), moment()],
                    'Last 7 days': [moment().subtract(6, 'days'), moment()],
                    'Last 1 month': [moment().subtract(1, 'months'), moment()]
                    }
                }, cb);

                cb(start, end);
            });

            // $(function() {
            //     $('devices').multipleSelect({
            //     multiple: true,
            //     multipleWidth: 60
            //     })
            // });

            function logOut() {
                if (cognitoUser != null) {
                    cognitoUser.signOut();
                    deleteCookie('username');
                    window.location.href = '/login';
                }
            }

            function getGraph() {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/main/mainUuid?email=' + email); // 메소드와 주소 설정
                xhr.onreadystatechange = function() { // 요청에 대한 콜백
                    if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                        if (xhr.status === 200 || xhr.status === 201) {
                            // 메인 uuid설정란 db에 만들기?
                            var uuids = JSON.parse(xhr.responseText);
                            if (uuids.length == 0) {
                                uuid = null;
                            } else {
                                uuid = uuids[0].deviceNum;
                                addSelection(uuids);
                            }
                        } else {
                            console.error(xhr.responseText);
                        }
                    }
                };
                xhr.send();
            }

            function getGraphData(start, end) {
                var formed_start = start.format('YYYY-MM-DD HH:mm:ss');
                var formed_end = end.format('YYYY-MM-DD HH:mm:ss');

                let tempURL = '/main/graphInfo?u=' + uuid + '&type=' + type_val + '&start=' + formed_start +'&end=' + formed_end;
                var xhr = new XMLHttpRequest();
                xhr.open('GET', tempURL); // 메소드와 주소 설정
                xhr.onreadystatechange = function() { // 요청에 대한 콜백
                    if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                        if (xhr.status === 200 || xhr.status === 201) {
                            datas = JSON.parse(xhr.responseText);
                            console.log(datas);
                            getDateLimit(formed_start, formed_end);
                            sortdata();
                        } else {
                            console.error(xhr.responseText);
                        }
                    }
                };
                xhr.send();
            }

            function sortdata() {
                var labels = [];
                var g_data = [];
                var c_data = [];
                var t_data = [];
                var h_data = [];

                var highest_g, highest_c, highest_t, highest_h;
                var lowest_g, lowest_c, lowest_t, lowest_h;

                for (key in datas) {
                    type = datas[key].type;
                    CDate = new Date(datas[key].time);
                    value = datas[key].val;

                    if (type == 'g') {
                        g_data.push({
                            x: CDate,
                            y: value
                        })

                        if (highest_g == undefined){
                            highest_g = value;
                        }
                        if (lowest_g == undefined){
                            lowest_g = value;
                        } else if (value > highest_g){
                            highest_g = value;
                        } else if (value < lowest_g){
                            lowest_g = value;
                        }
                    }
                    if (type == 'c') {
                        c_data.push({
                            x: CDate,
                            y: value
                        })

                        if (highest_c == undefined){
                            highest_c = value;
                        }
                        if (lowest_c == undefined){
                            lowest_c = value;
                        } else if (value > highest_c){
                            highest_c = value;
                        } else if (value < lowest_c){
                            lowest_c = value;
                        }
                    }
                    if (type == 't') {
                        t_data.push({
                            x: CDate,
                            y: value
                        })

                        if (highest_t == undefined){
                            highest_t = value;
                        } 
                        if (lowest_t == undefined){
                            lowest_t = value;
                        } else if (value > highest_t){
                            highest_t = value;
                        } else if (value < lowest_t){
                            lowest_t = value;
                        }
                    }
                    if (type == 'h') {
                        h_data.push({
                            x: CDate,
                            y: value
                        })

                        if (highest_h == undefined){
                            highest_h = value;
                        } 
                        if (lowest_h == undefined){
                            lowest_h = value;
                        } else if (value > highest_h){
                            highest_h = value;
                        } else if (value < lowest_h){
                            lowest_h = value;
                        }
                    }

                    if (!labels.includes(new Date(datas[key].time))) {
                        labels.push(CDate)
                    }
                }

                document.getElementById("g_highestVal").innerHTML = highest_g;
                document.getElementById("g_lowestVal").innerHTML = lowest_g;
                if(g_data.length != 0){
                    document.getElementById("g_currentVal").innerHTML = g_data[g_data.length - 1].y;
                } else {
                    document.getElementById("g_currentVal").innerHTML = undefined;
                }

                document.getElementById("c_highestVal").innerHTML = highest_c;
                document.getElementById("c_lowestVal").innerHTML = lowest_c;
                if(c_data.length != 0){
                    document.getElementById("c_currentVal").innerHTML = c_data[c_data.length - 1].y;
                } else {
                    document.getElementById("c_currentVal").innerHTML = undefined;
                }

                if(t_data.length != 0){
                    document.getElementById("t_highestVal").innerHTML = highest_t + "°C";
                    document.getElementById("t_lowestVal").innerHTML = lowest_t + "°C";
                    document.getElementById("t_currentVal").innerHTML = t_data[t_data.length - 1].y + "°C";
                } else {
                    document.getElementById("t_highestVal").innerHTML = undefined;
                    document.getElementById("t_lowestVal").innerHTML = undefined;
                    document.getElementById("t_currentVal").innerHTML = undefined;
                }

                if (h_data.length != 0){
                    document.getElementById("h_highestVal").innerHTML = highest_h + "%";
                    document.getElementById("h_lowestVal").innerHTML = lowest_h + "%";
                    document.getElementById("h_currentVal").innerHTML = h_data[h_data.length - 1].y + "%";
                } else {
                    document.getElementById("h_highestVal").innerHTML = undefined;
                    document.getElementById("h_lowestVal").innerHTML = undefined;
                    document.getElementById("h_currentVal").innerHTML = undefined;
                }

                drawGraph(type_val, labels, g_data, c_data, t_data, h_data);
            }

            function drawGraph(type_val, labels, g_data, c_data, t_data, h_data) {
                const DATASET_G = {
                    label: 'Geiger',
                    data: g_data,
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    type: 'line',
                    pointRadius: 0,
                    fill: false,
                    lineTension: 0,
                    borderWidth: 1,
                }

                const DATASET_C = {
                    label: 'CO2',
                    data: c_data,
                    backgroundColor: window.chartColors.purple,
                    borderColor: window.chartColors.purple,
                    type: 'line',
                    pointRadius: 0,
                    fill: false,
                    lineTension: 0,
                    borderWidth: 1,
                }

                const DATASET_T = {
                    label: 'temperature',
                    data: t_data,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    type: 'line',
                    pointRadius: 0,
                    fill: false,
                    lineTension: 0,
                    borderWidth: 1,
                }

                const DATASET_H = {
                    label: 'humidity',
                    data: h_data,
                    backgroundColor: window.chartColors.orange,
                    borderColor: window.chartColors.orange,
                    type: 'line',
                    pointRadius: 0,
                    fill: false,
                    lineTension: 0,
                    borderWidth: 1,
                }

                if (type_val.includes("g")) {
                    console.log("IS TECH003?");
                    document.getElementById("canvasG").style.display = "block";
                    document.getElementById("g_val").style.display = "block";
                    let dataset_arr_g = [];
                    dataset_arr_g.push(DATASET_G);
                    getGgraph(labels, dataset_arr_g);
                }else{
                    document.getElementById("canvasG").style.display = "none";
                    document.getElementById("g_val").style.display = "none";
                }

                if (type_val.includes("c")) {
                    console.log("FALSE");
                    document.getElementById("canvasC").style.display = "block";
                    document.getElementById("c_val").style.display = "block";
                    let dataset_arr_c = [];
                    dataset_arr_c.push(DATASET_C);
                    getCgraph(labels, dataset_arr_c);
                }else{
                    document.getElementById("canvasC").style.display = "none";
                    document.getElementById("c_val").style.display = "none";
                }

                if (type_val.includes("t")) {
                    document.getElementById("canvasT").style.display = "block";
                    document.getElementById("th_val").style.display = "block";
                    let dataset_arr_t = [];
                    dataset_arr_t.push(DATASET_T);
                    getTgraph(labels, dataset_arr_t);
                }else{
                    document.getElementById("canvasT").style.display = "none";
                    document.getElementById("t_val").style.display = "none";
                }

                if (type_val.includes("h")) {
                    document.getElementById("canvasH").style.display = "block";
                    document.getElementById("th_val").style.display = "block";
                    let dataset_arr_h = [];
                    dataset_arr_h.push(DATASET_H);
                    getHgraph(labels, dataset_arr_h)
                }else{
                    document.getElementById("canvasH").style.display = "none";
                    document.getElementById("h_val").style.display = "none";
                }        
            }

            //TODO: graph 오류 고치기
            function getGgraph(labels, dataset_arr_g) {
                var config_g = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: dataset_arr_g,
                        spanGaps: false
                    },
                    "rotateValues": "1",
                    options: {
                        legend:{
                            display:false
                        },
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Geiger',
                            fontSize: 20
                        },
                        scales: {
                            xAxes: [{
                                type: "time",
                                time: {
                                    displayFormats: {
                                        hour: 'MMM D, HH:mm'
                                    },
                                    tooltipFormat: "ll HH:mm"
                                },
                                ticks: {
                                    maxRotation: 0
                                },
                                display: true,
                            }],
                            yAxes: [{
                                type: 'linear',
                                display: true,
                            }]
                        }
                    }
                };

                if (gChart){
                    gChart.destroy();
                }
                var ctx_g = document.getElementById('canvasG').getContext('2d');
                gChart = new Chart(ctx_g, config_g);
                gChart.update();
            }

            function getCgraph(labels, dataset_arr_c) {
                var config_c = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: dataset_arr_c,
                        spanGaps: false
                    },
                    "rotateValues": "1",
                    options: {
                        legend:{
                            display:false
                        },
                        responsive: true,
                        title: {
                            display: true,
                            text: 'CO2',
                            fontSize: 20
                        },
                        scales: {
                            xAxes: [{
                                type: "time",
                                time: {
                                    displayFormats: {
                                        hour: 'MMM D, HH:mm'
                                    },
                                    tooltipFormat: "ll HH:mm"
                                },
                                ticks: {
                                    maxRotation: 0
                                },
                                display: true,
                            }],
                            yAxes: [{
                                type: 'linear',
                                display: true,
                            }]
                        }
                    }
                };

                if (cChart){
                    cChart.destroy();
                }
                var ctx_c = document.getElementById('canvasC').getContext('2d');
                cChart = new Chart(ctx_c, config_c);
                cChart.update();
            }

            function getTgraph(labels, dataset_arr_t) {
                var config_t = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: dataset_arr_t,
                        spanGaps: false
                    },
                    "rotateValues": "1",
                    options: {
                        legend:{
                            display:false
                        },
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Temperature',
                            fontSize: 20
                        },
                        scales: {
                            xAxes: [{
                                type: "time",
                                time: {
                                    displayFormats: {
                                        hour: 'MMM D, HH:mm'
                                    },
                                    tooltipFormat: "ll HH:mm"
                                },
                                ticks: {
                                    maxRotation: 0
                                },
                                display: true,
                            }],
                            yAxes: [{
                                type: 'linear',
                                display: true,
                            }]
                        }
                    }
                };

                if (tChart){
                    tChart.destroy();
                }
                var ctx_t = document.getElementById('canvasT').getContext('2d');
                tChart = new Chart(ctx_t, config_t);
                tChart.update();
            }

            function getHgraph(labels, dataset_arr_h) {
                var config_h = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: dataset_arr_h,
                    },
                    "rotateValues": "1",
                    options: {
                        legend:{
                            display:false
                        },
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Humidity',
                            fontSize: 20
                        },
                        scales: {
                            xAxes: [{
                                type: "time",
                                time: {
                                    displayFormats: {
                                        hour: 'MMM D, HH:mm'
                                    },
                                    tooltipFormat: "ll HH:mm"
                                },
                                ticks: {
                                    maxRotation: 0
                                },
                                display: true,
                            }],
                            yAxes: [{
                                type: 'linear',
                                display: true,
                            }]
                        }
                    }
                };

                if (hChart){
                    hChart.destroy();
                }
                var ctx_h = document.getElementById('canvasH').getContext('2d');
                hChart = new Chart(ctx_h, config_h);
                hChart.update();
            }

            function addSelection(uuids) {
                var selection = document.getElementById("devices");

                for (i in uuids) {
                    var option = document.createElement("option");

                    option.text = uuids[i].deviceNum;
                    option.value = uuids[i].deviceNum;
                    selection.add(option)
                }
            }


            function changeGraph(device) {
                if(device == "TechC000"){
                    type_val = 'cth';
                }else{
                    type_val = 'gth';
                }
                var regex_date = /^([0-9]{4})-([0-9]{2})-([0-9]{2}) ([0-9]{2}):([0-9]{2}):([0-9]{2})$/g;
                uuid = device;
                getGraphData(start, end);
            }

            //TODO: 온습도 부분 분리 필요
            function hideGraph(type){
                var chart_to_hide, data_to_hide, checked;
                if(type == "g"){
                    chart_to_hide = "canvasG";
                    data_to_hide = "g_val";
                    checked = document.getElementById("geiger").checked;
                }else if(type == "t"){
                    chart_to_hide = "canvasT";
                    data_to_hide = "th_val";
                    checked = document.getElementById("temperature").checked;
                }else if(type == "h"){
                    chart_to_hide = "canvasH";
                    data_to_hide = "th_val";
                    checked = document.getElementById("humidity").checked;
                }

                if(checked){
                    document.getElementById(chart_to_hide).style.display = "block";
                    document.getElementById(data_to_hide).style.display = "block";
                }else{
                    document.getElementById(chart_to_hide).style.display = "none";
                    document.getElementById(data_to_hide).style.display = "none";
                }
            }

            function json2csv() {
                var array = typeof datas != 'object' ? JSON.parse(datas) : datas;
                var str = '';
                var line = '';

                var head = array[0];

                for (var index in array[0]) {
                    var value = index + "";
                    line += '"' + value.replace(/"/g, '""') + '",';
                }

                line = line.slice(0, -1);
                str += line + '\r\n';

                for (var i = 0; i < array.length; i++) {
                    var line = '';

                    for (var index in array[i]) {
                        var value = array[i][index];

                        if (value == (array[i].time)){
                            value = new Date(value) + "";
                        }else{
                            value = value + "";
                        }
                        line += '"' + value.replace(/"/g, '""') + '",';
                    }

                    line = line.slice(0, -1);
                    str += line + '\r\n';
                }

                var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(str);
                hiddenElement.target = '_blank';
                hiddenElement.download = uuid + '.csv';
                hiddenElement.click();
                // window.open("data:text/csv;charset=utf-8," + escape(str));
            }

            //TODO: 뭔가 날짜가 이상함
            function getDateLimit(start, end){
                let tempURL = '/main/dateLimit?u=' + uuid + '&start=' + start +'&end=' + end;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', tempURL); // 메소드와 주소 설정
                xhr.onreadystatechange = function() { // 요청에 대한 콜백
                    if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                        if (xhr.status === 200 || xhr.status === 201) {
                            var dates = JSON.parse(xhr.responseText);
                            var sDate = dates[0].mintime;
                            var eDate = dates[0].maxtime;

                            //기간 내의 자료가 없는 경우 일단은 전체 범위로 보여줌
                            if(sDate == null && eDate == null){
                                sDate = start;
                                eDate = end;   
                            }

                            sDate = changeFormat(sDate);
                            eDate = changeFormat(eDate);

                            document.getElementById("g_sdate").innerHTML = sDate;
                            document.getElementById("c_sdate").innerHTML = sDate;
                            document.getElementById("th_sdate").innerHTML = sDate;
                            document.getElementById("g_edate").innerHTML = eDate;
                            document.getElementById("c_edate").innerHTML = eDate;
                            document.getElementById("th_edate").innerHTML = eDate;

                        } else {
                            console.error(xhr.responseText);
                        }
                    }
                };
                xhr.send();
            }

            //TODO: 가이거과 온습도 시간의 차이에 따라 따로 해야함.
            function changeFormat(date){
                var newFormat;
                var newDate = new Date(date);

                if(newDate.toString() == "Invalid Date"){
                    var newFormat = undefined;
                }else{
                    // var seconds = date.getSeconds();
                    var minute = newDate.getMinutes();
                    var hour = newDate.getHours();
                    var day = newDate.getDate();
                    var month = newDate.getMonth() + 1;
                    var year = newDate.getFullYear();

                    minute = (minute < 10 ? '0' : '') + minute.toString();
                    hour = (hour < 10 ? '0' : '') + hour.toString();
                    day = (day < 10 ? '0' : '') + day.toString();
                    month = (month < 10 ? '0' : '') + month.toString();

                    newFormat = year + "년 " + month + "월 " + day + "일 " + hour + ":" + minute;
                }
                
                return newFormat;
            }
        </script>
</body>
</html>