<!DOCTYPE html>
<html lang="en">

    <head>
        <title>9room::Admin</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../public/css/memberList.css">
    </head>
    <body>
        <div class="info">
            <img class="logo_groomit" src="../public/images/groomit_logo.png" alt="Groomit logo" onclick="window.location.href='/login'">&nbsp
            회원 기기 관리
        </div>
        <select id="emails">
            <option value = undefined>------- select email -------</option>
        </select>
        <select id="devices">
            <option value = undefined>-- select device --</option>
        </select>
        <button type="button" onclick="addRelation()">Insert</button>
        <button type="button" id="delete" onclick= "removeRelaiton()">Delete</button>
        <button type="button" onclick="addDevice()">Add Device</button>
        <button type="button" onclick="deleteDevice()">Delete Device</button>
        <table id='user_table'></table>

        <footer>
            <div class="copyright">&copy 2015 - Technonia</div>
            <a href="http://technonia.cafe24.com/" class="about">About Us</a>
        </footer>
        <script>
            var users, devices;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/memberList/getUsers'); // 메소드와 주소 설정
            xhr.onreadystatechange = function() { // 요청에 대한 콜백
                if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                    if (xhr.status === 200 || xhr.status === 201) {
                        users = (JSON.parse(xhr.responseText))[0];
                        create_table(users);
                        getEmails(users);
                        getDevices();
                    } else {
                        console.error(xhr.responseText);
                    }
                }
            };
            xhr.send();
            
            function create_table(users){
                var user_table = document.getElementById('user_table');
                addRow(user_table, true, "선택", "이메일", "기기명", "방사능", "온도", "습도", "이산화탄소");

                for (i in users){
                    var email = users[i].email;
                    var uuid = users[i].deviceNum;
                    var g_val = users[i].geiger;
                    var t_val = users[i].temperature;
                    var h_val = users[i].humidity;
                    var c_val = users[i].co2;

                    addRow(user_table, false, null, email, uuid, g_val, t_val, h_val, c_val);
                }
            }

            function addCell(tr, head, val) {
                var cell = document.createElement('td');
                if (head){
                    cell = document.createElement('th');
                }

                cell.innerHTML = val;
                tr.appendChild(cell)
            }

            function generateCheckBox(email) {
                var tdTag = document.createElement('td');
                var inputTag = document.createElement('input');
                inputTag.type = 'checkbox';
                inputTag.name = 'cb_' + email;
                // inputTag.onclick = showDelete();
                tdTag.appendChild(inputTag);

                return tdTag;
            }

            function addRow(user_table, head, select, email, uuid, g_val, t_val, h_val, c_val) {
                var tr = document.createElement('tr');
                if (!head) {
                    tr.appendChild(generateCheckBox(email));
                }else{
                    addCell(tr, head, select);
                }

                addCell(tr, head, email);
                addCell(tr, head, uuid);
                addCell(tr, head, g_val);
                addCell(tr, head, t_val);
                addCell(tr, head, h_val);
                addCell(tr, head, c_val);

                user_table.appendChild(tr)
            }

            function getEmails(users){
                var selection = document.getElementById("emails");
                var emails = [];
                for(i in users){
                    var email = users[i].email;
                    if(!emails.includes(email)){
                        emails.push(email);
                        
                        var option = document.createElement("option");
                        option.text = email;
                        option.value = email;
                        selection.add(option);
                    }
                }
            }

            function getDevices(){
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/memberList/getDevices'); // 메소드와 주소 설정
                xhr.onreadystatechange = function() { // 요청에 대한 콜백
                    if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                        if (xhr.status === 200 || xhr.status === 201) {
                            devices = JSON.parse(xhr.responseText);

                            var selection = document.getElementById("devices");
                            var device_arr = [];
                            for(i in devices){
                                var device = devices[i].deviceNum;
                                if(!device_arr.includes(device)){
                                    device_arr.push(device);
                                    
                                    var option = document.createElement("option");
                                    option.text = device;
                                    option.value = device;
                                    selection.add(option);
                                }
                            }
                        } else {
                            console.error(xhr.responseText);
                        }
                    }
                };
                xhr.send();
            }

            // TODO: 추가시 바로 테이블에도 추가시키기
            function addRelation(){
                var emails = document.getElementById("emails");
                var selected_email = emails.options[emails.selectedIndex].value;

                var devices = document.getElementById("devices");
                var selected_device = devices.options[devices.selectedIndex].value;

                if(selected_email != "undefined" && selected_device != "undefined"){
                    if(!relationExist(selected_email, selected_device)){
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/memberList/addRelation?email=' + selected_email + '&u=' + selected_device);
                        xhr.send();
                        
                        alert("Successfully inserted");
                        document.getElementById("emails").selectedIndex = "0";
                        document.getElementById("devices").selectedIndex = "0";

                        var option = document.createElement("option");
                        option.text = selected_device;
                        option.value = selected_device;
                        document.getElementById("devices").add(option);

                        // var user_table = document.getElementById('user_table');
                        // addRow(user_table, false, null, selected_email, selected_device, g_val, t_val, h_val, c_val);
                    }else{
                        alert("Relation does not exist")
                    }
                }else{
                    alert("Select email and device correctly!");
                }
            }

            // function showDelete(){
            //     document.getElementById('delete').style.display = "block";
            // }

            // TODO: 테이블 체크된 모든 부분 확인
            // function removeRelaiton(){
            //     var selected = new Array();
            //     $('#table input[type="checkbox"]:checked').each(function() {
            //         selected.push($(this).attr('id'));
            //     });
            //     console.log(selected);
            // }

            function deleteDevice(){
                var device = prompt("Please enter device number to remove");

                if(deviceExist){
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/memberList/deleteDevice?u=' + device );
                    xhr.send();

                    $("#devices option[value="+ device +"]").remove();
                    alert("successfully deleted device");
                }else{
                    alert("Device does not exist");
                }
            }

            function addDevice(){
                var device_reg = /^[a-zA-Z0-9_.-]+$/i;
                var device_type = /^[a-z{3}]+$/i;

                var device = prompt("Please enter device number to insert:");
                if(device != undefined){
                    if(!device_reg.test(device)){
                    alert("Please check your device number again");
                    }else{
                        var type = prompt("Please enter device type:");

                        if(type != undefined){
                            if(!device_type.test(type)){
                                alert("Please check your device type again");
                            }else{
                                if(!deviceExist(device)){
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/memberList/addDevice?u=' + device + '&type=' + type);
                                    xhr.send();

                                    var option = document.createElement("option");
                                    option.text = device;
                                    option.value = device;
                                    document.getElementById("devices").add(option);

                                    var device_len = Object.keys(devices).length;
                                    devices[device_len] = {"deviceNum": device};

                                    alert("successfully added new device");
                                }else{
                                    alert("Device already exist!")
                                }
                            }
                        }
                    }
                }
            }

            function deviceExist(device){
                for(i in devices ){
                    if(devices[i].deviceNum == device){
                        return true;
                    }
                }

                return false;
            }

            function relationExist(email, device){
                for(i in users){
                    if(users[i].email == email && users[i].deviceNum == device){
                        return true;
                    }
                }

                return false;
            }
        </script>
    </body>
</html>