<!doctype html>
<html lang="en">
  <head>
	<title>9room::Profile</title>
    <meta charset="utf-8">
	 <!--Cognito JavaScript-->
	<script src="../public/js/amazon-cognito-identity.min.js"></script>  
	<script src="../public/js/config.js"></script>
	<script src="../public/js/cookieProcess.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
	<link rel="stylesheet" type="text/css" href="../public/css/profile.css">
  </head>

  <body>
	<img class="logo_groomit" src="../public/images/groomit_logo.png" alt="Groomit logo" onclick="window.location.href='/main'">
		<div class="user-profile">
			<div class="personal">Personal Information</div>
			<div class="left">Username</div>
			<div class="right" id="username"></div>
		</br>
			<div class="left">Email</div>
			<div class="right" id="email"></div>
		</br>
			<div class="edit">Edit Information</div>
			<div class="left" >Add device</div>
			<div class="right">
				<input type="text" id="uuid" placeholder="Device ID" required>    
				<input type="image" id="adddevice" src="../public/images/adddevice_0.png" alt="Submit" style="width: 110px; height: 55px;" onclick="addDevice()"/>
			</div>
		</br>
			<div class="left">Change<br/>Password</div>
			<div class="right">
				<input type="text" id="oldPassword"  placeholder="Current password" name="oldPassword" required autofocus>
				<input type="password" id="newPassword"  placeholder="New Password" name="newPassword" required>
				<input type="image" id="changePw" src="../public/images/save_0.png" alt="Submit" style="width: 110px; height: 55px;" onclick="changePw()"/>
			</div>
			<input type="image" id="signout" src="../public/images/signout_0.png" alt="Submit" style="width: 110px; height: 55px;" onclick="signout()"/>
			<!-- <message id="message_pw"></message> -->
			<!-- <button type="button" id="main" onclick="window.location.href='/main';">Main</button> -->
		</div>

		<footer>
			<div class="copyright">&copy 2015 - Technonia</div>
			<a href="http://technonia.cafe24.com/" class="about">About Us</a>
		</footer>
    <script>
		var email;

		var data = { 
			UserPoolId : _config.cognito.userPoolId,
			ClientId : _config.cognito.clientId
		};
		var userPool = new AmazonCognitoIdentity.CognitoUserPool(data);
		var cognitoUser = userPool.getCurrentUser();
		
		window.onload = function(){
			if (cognitoUser != null) {
				cognitoUser.getSession(function(err, session) {
					if (err) {
						alert(err);
						return;
					}
					console.log('session validity: ' + session.isValid());
					//Set the profile info
					cognitoUser.getUserAttributes(function(err, result) {
						if (err) {
							console.log(err);
							return;
						}
						console.log(result);
						email = result[3].getValue();
						var name = result[2].getValue();
						
						document.getElementById("username").innerHTML = name;	
						document.getElementById("email").innerHTML = email;
					});			
					
				});
			}
		}

		function changePw() {			
			var oldPassword = document.getElementById('oldPassword').value;
			var newPassword = document.getElementById('newPassword').value;
			cognitoUser.changePassword(oldPassword, newPassword, function(err, result) {
				if (err) {
					alert(err);
					return;
				}else {
					console.log('call result: ' + result);
					// document.getElementById('message_pw').innerHTML = "Successfully changed password"
					document.getElementById('oldPassword').innerText = '';
					document.getElementById('newPassword').innerText = '';
					alert("Successfully changed password");
					// window.location.href = '/login';
				}
			});
		}

		function addDevice(){
			var uuid_reg = /^[a-zA-Z0-9_.-]+$/i;
			var uuid = document.getElementById('uuid').value;

			if (!uuid_reg.test(uuid)){
				alert("Please check your device number again");
			}

			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/profile/checkDevice?u=' + uuid + '&email=' + email); // 메소드와 주소 설정
            xhr.onreadystatechange = function() { // 요청에 대한 콜백
                if (xhr.readyState === xhr.DONE) { // 요청이 완료되면
                    if (xhr.status === 200 || xhr.status === 201) {
						overlapping_dev = JSON.parse(xhr.responseText);
						if(overlapping_dev.length == 0){
							var xhr2 = new XMLHttpRequest();
							xhr2.open('POST', '/profile/addDevice?u=' + uuid + '&email=' + email); // 메소드와 주소 설정
							xhr2.send();
							document.getElementById('uuid').innerText = '';
							alert("Successfully added new device");
						}else{
							alert("Device already exist!");
						}
                    } else {
                        console.error(xhr.responseText);
                    }
				}
			};
            xhr.send();
		}

		function signout(){
			//TODO: db에서 데이터 지우기
			cognitoUser.deleteUser(function(err, result) {
				if (err) {
					alert(err.message || JSON.stringify(err));
					return;
				}else{
					// var xhr = new XMLHttpRequest();
					// xhr.open('POST', '/profile/:delUser?email=' + email); // 메소드와 주소 설정
					// xhr.send();

					console.log('call result: ' + result);
					deleteCookie('username');
					window.location.href = '/login';
				}
			});
		}
    </script>
  </body>
</html>