<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	 <!--Cognito JavaScript-->
	<script src="js/amazon-cognito-identity.min.js"></script>  
	<script src="js/config.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
	<link rel="stylesheet" type="text/css" href="profile.css">
  </head>

  <body>
		<div class="sc-user-profile">
			<div class="data">
				<span class="entypo-heart" style="font-size: 30px"> Personal Information</span>
			</div>
			<div>
				<div class="left">Username</div>
				<div class="right" id="username"></div>
				<div class="left">Email</div>
				<div class="right" id="email"></div>
			</div>
			<br/>

			<div class="data">
					<span class="entypo-heart" style="font-size: 30px"> Edit Information</span>
			</div>
			<div>
				<div class="left" >Add device</div>
				<div class="right">
					<input type="device_uuid" id="uuid" placeholder="Device ID" required>    
					<button type="button" onclick="addDevice()">Add device</button>
				</div>
				<p id="message_uuid"></p>
				<div class="left">Change Password</div>
				<div class="left">
					<input type="text" id="oldPassword"  placeholder="Current password" name="oldPassword" required autofocus>
				</div>
				<div class="right">
					<input type="password" id="newPassword"  placeholder="New Password" name="newPassword" required>
				</div>
				<div class="right">
						<button type="button" onclick="changePw()">Save</button>
				</div>
				<p id="message_pw"></p>
				<button type="button" id="main" onclick="window.location.href='main.html';">Main</button>
			</div>
		</div>

    <script>
		// var dbcon = require('../dbConnection');
		var email;

		var data = { 
			UserPoolId : _config.cognito.userPoolId,
			ClientId : _config.cognito.clientId
		};
		var userPool = new AmazonCognitoIdentity.CognitoUserPool(data);
		var cognitoUser = userPool.getCurrentUser();
		
		window.onload = function(){
			if (cognitoUser != null) {
				cognitoUser.getSession(function(err, session) {
					if (err) {
						alert(err);
						return;
					}
					console.log('session validity: ' + session.isValid());
					//Set the profile info
					cognitoUser.getUserAttributes(function(err, result) {
						if (err) {
							console.log(err);
							return;
						}
						console.log(result);
						email = result[3].getValue();
						var name = result[2].getValue();
						
						document.getElementById("username").innerHTML = name;	
						document.getElementById("email").innerHTML = email;
					});			
					
				});
			}
		}

		function changePw() {			
			var oldPassword = document.getElementById('oldPassword').value;
			var newPassword = document.getElementById('newPassword').value;
			cognitoUser.changePassword(oldPassword, newPassword, function(err, result) {
				if (err) {
					alert(err);
					return;
				}else {
					console.log('call result: ' + result);
					// document.getElementById('message_pw').innerHTML = "Successfully changed password"
					document.getElementById('oldPassword').innerText = '';
					document.getElementById('newPassword').innerText = '';
					alert("Successfully changed password");
					// window.location.href = 'login.html';
				}
			});
		}

		function addDevice(){
			var uuid = document.getElementById('uuid').value;
			var xhr = new XMLHttpRequest();
            xhr.open('POST', '/profile/:userInfo?u=' + uuid + '&email=' + email); // 메소드와 주소 설정
			xhr.send();
			document.getElementById('uuid').innerText = '';
			alert("Successfully added new device");
		}
    </script>
  </body>
</html>