<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	 <!--Cognito JavaScript-->
	<script src="js/amazon-cognito-identity.min.js"></script>  
	<script src="js/config.js"></script>
  </head>

  <body>
		<h4>Personal Information</h4>
		
		<br>
		<div>
			<label>Email <span>(Username)</span></label>
		</div>
		<div>
			<label id="email_value"></label>
		</div>
		<div>
			<input type="text" id="oldPassword"  placeholder="Current password" name="oldPassword" required autofocus>
			<input type="password" id="newPassword"  placeholder="New Password" name="newPassword" required>    
			<button type="button" onclick="changePw()">Save</button>
		</div>
		
    </div>

    <script>
		var data = { 
			UserPoolId : _config.cognito.userPoolId,
			ClientId : _config.cognito.clientId
		};
		var userPool = new AmazonCognitoIdentity.CognitoUserPool(data);
		var cognitoUser = userPool.getCurrentUser();
		
		window.onload = function(){
			if (cognitoUser != null) {
				cognitoUser.getSession(function(err, session) {
					if (err) {
						alert(err);
						return;
					}
					console.log('session validity: ' + session.isValid());
					//Set the profile info
					cognitoUser.getUserAttributes(function(err, result) {
						if (err) {
							console.log(err);
							return;
						}
						console.log(result);
						document.getElementById("email_value").innerHTML = result[2].getValue();	
					});			
					
				});
			}
		}

		function changePw() {			
			// 작동안함. https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityServiceProvider.html#changePassword-property 참조
			// changePassword에 AccessToken 필요한데 잘 모르겠음
			cognitoUser.changePassword('oldPassword', 'newPassword', function(err, result) {
				if (err) {
					alert(err);
					return;
				}
				console.log('call result: ' + result);
			});
		}
    </script>
  </body>
</html>