@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap');

.logo_groomit {
    cursor: pointer;
    width: 200px;
    height: 105px;
    margin-left: 30px;
}

h2, .counter {
    font-family: 'Roboto Mono', monospace;
    width: 90%;
    text-align: center;
}