@import url(https://fonts.googleapis.com/css?family=Raleway);

footer{ 
    height:70px; 
    width:100%; 
    /* display: inline-block; */
    background:grey; 
    color: white; 
}
  .copyright {
    width: 50%;
    float: left;
    padding-left: 20px;
    font-size: 12px;
    line-height: 70px;
    letter-spacing: 1px;
  }


  .about {
    float: right;
    padding-right: 3%;
    color: white;
    font-size: 12px;
    line-height: 70px;
    /* text-transform: capitalize; */
    letter-spacing: 1px;
  }