@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

body, .user-profile {
  font-family: 'Didact Gothic', sans-serif;
  margin: auto;
}

body {
  width: 90%;
}

.logo_groomit {
  cursor: pointer;
  width: 240px;
  height: 89px;
  margin: 30px 0 30px 30px;
}

.user-profile {
  width: 580px;
  border-radius: .3em;
}

.left {
  float: left;
  margin-left: 35px;
  margin-bottom: 30px;
  width: 15%;
  color: #606060;
}

.right {
  float:left;
  margin-bottom: 30px;
  width: 70%;
  color: #b1b1b1;
}

#adddevice, #changePw {
  font-size: 15px;
  float: right;
  margin: -7px 20px 0 0;
}

#uuid, #oldPassword, #newPassword{
  font-size: 15px;
  color: #b1b1b1;
  width: 60%;
  padding: 13px;
  border-radius: 8px;
  border: 1px solid #DBDBDF;
}

#oldPassword {
  margin-bottom: 10px;
}

.personal, .edit {
  margin: 0px auto 30px;
  /* margin: 2em auto 1em; */
  background-image: url("../images/bar.png");
  background-repeat: no-repeat;
  text-indent: 35px;
  background-position: 0 50%;
  background-size: 35px;
  color: #606060;
  font-size: 30px;
}

.edit{
  margin: 80px auto 30px;
}

footer{ 
  width: 90%;
  height:70px; 
  position:fixed;
	bottom:0;
  background:grey; 
  color: white; 
}

.copyright {
  width: 50%;
  float: left;
  padding-left: 20px;
  font-size: 12px;
  line-height: 70px;
  letter-spacing: 1px;
}

.about {
  float: right;
  padding-right: 3%;
  color: white;
  font-size: 12px;
  line-height: 70px;
  letter-spacing: 1px;
}