@import url('https://fonts.googleapis.com/css?family=Lexend+Exa|Source+Code+Pro&display=swap');

body, .user-profile {
  font-family: 'Roboto Mono', monospace;
}

.logo_groomit {
  cursor: pointer;
  width: 200px;
  height: 105px;
  margin-left: 30px;
}

.user-profile {
  margin: auto;
  width: 25em;
  background: #fff;
  border-radius: .3em;
}

.left {
  float: left;
  padding: 0 15px 10px;
  width: 20%;
  font-weight: bold;
}

.right {
  padding: 0 0 10px 10px;
  width: 90%;
}

#username {
  margin: auto;
  color: #658585;
  font-size: 15px;
}

#email {
  margin: auto;
  width: 14em;
  color: #658585;
  font-size: 15px;
}

#uuid, #oldPassword, #newPassword{
  background: #f2f2f2;
  margin: 0 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
}

#uuid {
  width: 40%;
  margin-right: 10px
}

#adddevice, #changePw, #main{
  background-color: white;
  color: black;
  border: 2px solid #5F9EA0;
  font-family: 'Roboto Mono', monospace;
}

#main {
  margin: 10px 0;
  float: right;
  width: 15%;
  font-size: 15px;
}

#adddevice:hover, #changePw:hover, #main:hover{
  background: #e3eeee;
}

.data {
  margin: 2em auto 1em;
  background: #4eb6b6;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
span {
  font-family: 'Lexend Exa', sans-serif;
  color: #e3eeee;
  white-space: nowrap;
  font-size: 25px;
  font-weight: bold;
}