@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

.logo_groomit {
    cursor: pointer;
    width: 240px;
    height: 89px;
    margin: 30px 0 30px 30px;
}

body, .register-page {
    font-family: 'Didact Gothic', sans-serif;
    margin: auto;
}

body {
    width: 90%;
}

.register-page {
    width: 360px;
}

.register {
    font-size: 35px;
    color: #606060;
    margin-bottom: 35px;
    margin-top: 30px
}

.form input, button{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 17px;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 13px;
    border-radius: 8px;
}

.form input {
    border: 2px solid #DBDBDF;
    margin: 0 0 15px;
    box-sizing: border-box;
}

#verificationCode {
    width: 70%;
    float: left;
}

.form button {
    /* letter-spacing: .1em; */
    background: #4B7CE8;
    margin: 0px 0px 8px;
    color: #FFFFFF;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #355bc5;
}

#confirmemail, #reconfirmemail{
    width: 28%;
    font-size: 14px;
    padding: 17px 0 17px 0;
}

#message {
    font-size: 13px;
    font-weight: bold;
    color: #9B1C31;
}

.form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border: 1px solid #DBDBDF;
  }

  body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
  }

  #signup_name {
    background-image: url("../images/name.png");
    background-repeat: no-repeat;
    text-indent: 35px;
    background-position: 5px 50%;
    background-size: 30px;
}

#signup_email {
    background-image: url("../images/email.png");
    background-repeat: no-repeat;
    text-indent: 35px;
    background-position: 5px 50%;
    background-size: 30px;
}

#signup_pwd {
    background-image: url("../images/password.png");
    background-repeat: no-repeat;
    text-indent: 35px;
    background-position: 5px 50%;
    background-size: 30px;
}

footer{ 
    width: 90%;
    height:70px; 
    position:fixed;
      bottom:0;
    background:grey; 
    color: white; 
  }
  .copyright {
    width: 50%;
    float: left;
    padding-left: 20px;
    font-size: 12px;
    line-height: 70px;
    letter-spacing: 1px;
  }
  
  .about {
    float: right;
    padding-right: 3%;
    color: white;
    font-size: 12px;
    line-height: 70px;
    letter-spacing: 1px;
  }